.mess {
  width: 40%;
  margin: 0 auto;
}
.form-login>div {
  width: 40%;
  margin-top: 5px; 
}
.card {
  background-color: #4c5a63;
  color: #fff;
}
.card-body {
  background-color: #717679a6;  
}
.social_icon>span>i {
  font-size: 30px;
  padding-left: 5px;
}