<!-- <swiper [config]="config">
    <div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="../assets/images/slider/slider1.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/slider/slider2.png" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/slider/slider3.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/slider/slider4.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/slider/slider5.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/slider/slider6.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/slider/slider7.jpg" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  </div>
</swiper> -->
