.swiper{
  height: 250px;
  width: 100%;
}

.swiper-slide{
  img{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

.carousel-inner {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
