h5 {
	font-family: 'Comic Sans MS', sans-serif;
  font-weight: 800;
  line-height: 60px;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQICbaQFYReAI-tIiDRfPmEMm6oHEf69fHjqkwulq5YzZuA0OX8);
	-webkit-background-clip: text;  
	background-clip: text;
	color: transparent;// trong suốt
}
