<div class="wrapper">
  <div class="main-content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-8 col-11">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Change Password</h4>
              <!-- <a [routerLink]="['/login']" routerLinkActive="router-link-active">{{ 'login' | translate}}</a> -->
            </div>
            <div class="card-body">
              <form [formGroup]="f" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-12">
                    <input matInput required pattern="{{ emailPattern }}" formControlName="email" type="email" placeholder="email">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <input matInput required formControlName="password" type="password" placeholder="password">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <input matInput required formControlName="passwordConfirm" type="password" placeholder="passwordConfirm">
                  </div>
                </div>
                <div class="text-center">
                  <button [disabled]="disabled || f.invalid" type="submit"
                    class="btn btn-info">Submit</button>
                </div>
              </form>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>