.img-card {
  width: 480px;
  height: 500px;
}
.img-related {
  width: 200px;
  height: 250px;
}
a {
  display: table-row-group;
}
//add your favorite
.button-like {
  border: 2px solid #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #8a8a8a;
  transition: all ease 0.4s;
}

.button-like span {
  margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

button:disabled,
button[disabled]{
  color: #cc4b37;
  border-color: #cc4b37;
  background-color: transparent;
  cursor: not-allowed;
}

.my-4 {
  padding-top: 40px;
  color: #289628;
}
