
  <!-- Portfolio Item Heading -->
  <!-- <h1 class="my-4">Page Heading
    <small>Secondary Text</small>
  </h1> -->

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid img-card" src="{{infoCard?.img}}" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">{{infoCard?.title}}</h3>
      <p>{{infoCard?.desc}}</p>
      <h3 class="my-3">Price:</h3>
      <p>{{infoCard?.price}}</p>
      <button *ngIf="checkLogin" [attr.disabled]="checkFavorite" class="button button-like" id="item-card-{{infoCard?.id}}" (click)="addFavorite($event)">
        <i class="fa fa-heart"></i>
        <span>Add your favorite</span>
      </button>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Related Product</h3>

  <app-list-card namePage="" [listInfoProduct$]="relativalCard" [limit]=4></app-list-card>
