<ng-container *ngTemplateOutlet="sliderHome"></ng-container>

<div class="box">
  <!-- <div class="row">
    <div class="col-md-3" *ngFor="let itemCard of listProduct$">
      <ng-container [ngTemplateOutlet]="productByCategory"
      [ngTemplateOutletContext]="{itemCard:itemCard}">
      </ng-container>
    </div>
  </div> -->
  <app-list-card namePage="Children" [listInfoProduct$]="child" [limit]=limit></app-list-card>
  <app-list-card namePage="Men" [listInfoProduct$]="man" [limit]=limit></app-list-card>
  <app-list-card namePage="Women" [listInfoProduct$]="women" [limit]=limit></app-list-card>
</div>

<!-- <ng-template #productByCategory let-itemCard="itemCard">
    <div class="box-part text-center">
      <img src="{{itemCard.img}}" class="card-img-top" alt="...">
      <div  *ngIf="checkLogin" id="item-card-{{itemCard.id}}" class="heart" (click)="addFavorite($event)"></div>
      <div class="card-body">
        <div class="title">
          <h4>{{itemCard.title | wordLimit:13}}</h4>
        </div>
        <div class="text">
          <span>{{itemCard.price}}</span>
          <h5>{{itemCard.desc | wordLimit:20}}</h5>
        </div>
      </div>
      <div class="card-footer">
        <a [routerLink]="['/detail-card', itemCard.id]" routerLinkActive="active">View More</a>
      </div>
    </div>
</ng-template> -->
