h5 {
  color: goldenrod;
}
.social-ft>ul>li {
  list-style-type: none;
  font-size: 24px;
}
.page-footer {
  background-color: #4C5A71;
  color: white;
}
.fa-facebook-f {
  color: #007bff;
}
.fa-twitter {
  color: rgb(0, 204, 255);
}
.fa-google-plus {
  color: rgba(243, 52, 52, 0.829);
}
.fa-dribbble {
  color:black;
}
  