<footer class="page-footer font-small mdb-color lighten-3 pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
        <p>Content Website: sales clothes for everyone. Consist categories: MEN, WOMEN, CHILDREN.</p>
        <p>Course: Angular Basic for employee's AT.</p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">BLOG</a>
            </p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fa fa-home mr-3"></i> DA NANG, MAY 2019, VN</p>
          </li>
          <li>
            <p>
              <i class="fa fa-envelope mr-3"></i> be.truong@asiantech.vn</p>
          </li>
          <li>
            <p>
              <i class="fa fa-phone mr-3"></i> + 0123 456 789</p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4 social-ft">
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
        <ul>
          <li>
            <i class="fa fa-facebook-f"></i>
          </li>
          <li>
            <i class="fa fa-twitter"></i>
          </li>
          <li>
            <i class="fa fa-google-plus"></i>
          </li>
          <li>
            <i class="fa fa-dribbble"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Trương Thị Bé</a>
  </div>
</footer>